.call {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .call-form {
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 2;

        label {
            display: none;
        }

        input,
        button {
            margin-right: 10px;
        }
        .button-group {
            padding: 20px;
        }
    }
    
    .player-container {
        position: relative;
        flex: 1;
        .local-player-wrapper {
            position: absolute;
            z-index: 1;
            right: 30px;
            top: 30px;

            .video-player {
                width: 316px;
                height: 214px;
            }
        }

        .remote-player-wrapper {
            .video-player {
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
            }
        }
    }
}
